{% extends 'CalendarBundle::layout.html.twig' %}
{% block body %}
    <div class="row">
        <a href="{{ path('calendar_display', {'keysecure': user.keySecure}) }}" class="btn_return_calen"><i class="glyphicon glyphicon-calendar"></i></a>
    </div>
    {% include '@Calendar/Component/add.friends.html.twig' %}
    <div class="row">
        <table class="table">
            {% if friend_list is empty %}
                <tr>
                    <td>You haven't friend yet</td>
                </tr>
            {% else %}
                <tr>
                    <th></th>
                    <th colspan="2">Name</th>
                </tr>
            {% endif %}
            {% for item in friend_list %}
                <tr>
                    <td class="avatar-cell"><img src="{{ asset('images/avatar/75bd8759b49eceb4dc883bd6e2c1972f728eb9f8.jpg') }}"/></td>
                    <td>{{ item.name }}</td>
                    <td><i class='glyphicon glyphicon-trash c-pointer' onclick="delete_friend(this, {{ item.id }})"></i></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <input id="key_secure" type="hidden" value="{{ user.getKeySecure }}"/>
{% endblock %}
{% block footer %}
<script type="application/javascript" src="{{ asset('js/friends.js') }}"></script>
{% endblock %}